/*class*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

/*ID*/
#active {
    background-color: lavender;
    color: steelblue;
}

/*Tag*/
nav{
    background-color: aliceblue;
}

.blue-text{
    color: blue;
}