/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #EDDCD9;
    color: #7C4F79;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #B0A4BF;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #7BA574;
    display: none;
    overflow: hidden;
  }

  h1, h2{
    text-align: center;
    color: #7BA574;
  }